:root {
  /* --primary-color: #4f5de4;
  --secondary-color: #ff7200; */
  --primary-color: #560bad;
  --secondary-color: #ff1493;
  --light-purple: #ddceee;
  --light-pink: #ffcff1;
  --text-color: #333;
  --text-white: #fff;
  --background-color: #f5f5f5;
  --bg-pink: #faf2f8;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
.body-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/****************** header css ****************************/
mg {
  width: 100%;
}
.body-layout {
  background-color: var(--background-color);
}
header {
  width: 100%;
  display: flex;
  background-color: var(--primary-color);
  position: fixed;
  padding: 8px 10%;
  z-index: 1;
  /* transform: translateY(-100%); */
  /* opacity: 0; */
  transition: all 0.6s ease;
}
/* header.show {
  transform: translateY(0);
  opacity: 1;
} */
.header-layout {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
a.logo-link {
  width: 52px;
  text-decoration: none;
}
a.logo-link img {
  width: 100%;
}
nav {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.nav-ul {
  list-style: none;
  display: flex;
}
li.nav-li {
  margin: 0 25px;
}
li.nav-li a {
  text-decoration: none;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-white);
}
.left-nav {
  width: auto;
  display: flex;
}
.left-nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.left-nav-li {
  list-style: none;
  margin: 0;
  padding: 0;
}
button.search-btn {
  width: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-right: 20px;
}
button.search-btn img {
  width: 100%;
}
button.login-btn {
  width: 100px;
  /* background-color: var(--secondary-color); */
  background-image: radial-gradient(at bottom center, #e83a5a 0%, #7a0792 100%);
  border: 0;
  cursor: pointer;
  color: var(--text-white);
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  border-radius: 4px;
  padding: 10px 0;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* Glossy overlay */
button.login-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at top center,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none; /* So it doesn't block button clicks */
  border-radius: inherit; /* Match button shape */
  z-index: 1; /* Overlay on top of background */
}
/* Optional: Add a subtle shadow for depth */
button.login-btn:hover {
  transform: scale(1.05); /* Slight zoom */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Optional depth */
}
.mobile-nav {
  display: none;
}
.mobile-nav.active span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
  margin: 6px;
}

.mobile-nav.active span:nth-child(2) {
  opacity: 0;
}

.mobile-nav.active span:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
  margin: 6px;
}
.website-layout-wrapper {
  display: flex;
  margin-top: 60px;
}

@media (max-width: 1112px) {
  header {
    padding: 8px 2%;
  }
  button.login-btn {
    width: 70px;
    font-size: 14px;
    padding: 4px 0;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    background-color: transparent;
    border: 0;
    margin-right: 20px;
  }
  .ham-line {
    width: 100%;
    height: 3px;
    background-color: var(--text-white);
    margin: 6px 0 0;
    transition: all 0.4s ease-in-out;
  }
  /* header {
    position: relative;
  } */
  .header-layout {
    justify-content: flex-start;
  }
  .left-nav {
    margin-left: auto;
  }
  nav {
    width: 50%;
    position: fixed;
    top: 60px;
    left: -100%;
    height: 100vh;
    flex-direction: column;
    z-index: 4;
    background-color: var(--background-color);
  }
  nav.active {
    left: 0; /* Slides in */
  }
  a.logo-link {
    width: 55px;
  }
  ul.nav-ul {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  li.nav-li {
    margin-left: 0;
  }
  li.nav-li a {
    color: var(--primary-color);
  }

  .header-layout .menu-popup-overlay {
    top: 60px;
  }
}

@media (max-width: 600px) {
  nav {
    width: 73%;
    top: 55px;
  }
}

/**************** search pop up  *************************************/
.search-popup {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  /* z-index: 2; */
}
.search-popup.active {
  display: flex;
  opacity: 1;
  animation: fadeIn 0.5s ease-out;
  z-index: 2;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-popup-plot {
  width: 70%;
  position: absolute;
  display: flex;
  margin-top: 3%;
}
.search-input-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 100%;
  background-color: var(--text-white);
  color: var(--text-color);
  font-family: "Poppins", serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  border: 0;
  padding: 10px;
  margin-right: 20px;
}
.search-input:focus {
  outline: 0;
}
.search-button {
  width: auto;
  background-color: var(--primary-color);
  color: var(--text-white);
  font-family: "Poppins", serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  padding: 3px 32px;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
}
.popup-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
}
@media (max-width: 1112px) {
  .search-popup-plot {
    width: 95%;
    margin-top: 10%;
  }
}

/* @media (orientation: landscape) {
  .search-popup-plot {
    width: 95%;
    margin-top: 10%;
  }
} */
@media only screen and (min-device-width: 768px) and (max-device-width: 1112px) and (orientation: landscape) {
  .search-popup-plot {
    width: 95%;
    margin-top: 10%;
  }
}
@media (max-width: 600px) {
  .search-popup-plot {
    width: 90%;
    margin-top: 15%;
  }
  .search-button {
    padding: 3px 7px;
  }
}

/************************  chapter page css ***********************************************/
.chapter-page {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.chapter-topics-layout {
  width: 0; /* Start hidden */
  max-width: 450px; /* Ensures it doesn't grow beyond this */
  margin-top: 61px;
  transition: width 0.5s ease-in-out;
  box-shadow: 4px 4px 12px -11px #8089e1;
  display: flex;
  overflow: hidden; /* Hide content when width is 0 */
  white-space: nowrap;
  align-items: flex-start;
}
.chapter-topics-layout.open {
  width: 450px;
}
.topics-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topics-title {
  display: block;
  color: var(--primary-color);
}
.close {
  position: absolute;
  top: 11px;
  right: 7px;
  width: 20px;
  height: 20px;
  color: var(--primary-color);
  border: 0;
  cursor: pointer;
}
.topics-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
}
.topic-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: var(--primary-color);
  border-radius: 4px;
  margin-bottom: 10px;
}
/* li.topic-item.active .sub-topic-link {
  display: flex;
} */
.topic-link.active .drop-icon {
  transform: rotate(90deg);
}
.topic-item a {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: var(--text-white);
  font-family: "Poppins", serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  padding: 8px 10px;
  border-radius: 4px;
}
.topic-icon {
  width: 16px;
  margin-right: 8px;
}

.drop-icon {
  width: 16px;
  margin-left: auto;
}
ul.sub-topic-link {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color);
  padding: 0 10px;
}

li.sub-topic-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border-bottom: 1px solid var(--primary-color); */
}
a.sub-topic-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Poppins", serif;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  font-style: normal;
  padding: 15px 0 0;
}
.time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins", serif;
  font-size: 12px;
  color: var(--primary-color);
  font-weight: 400;
  font-style: normal;
}
.collapse-topic-layout {
  width: 65px;
  height: 100vh;
}
.collapse-topic {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--primary-color);
  cursor: pointer;
  padding: 20px 0;
}
.collapse-topic-icon {
  width: 22px;
  margin-right: 10px;
}
.topic-icon svg {
  width: 100%;
}
.chapter-right-section {
  width: 100%;
  padding: 0 5%;
  margin-top: 61px;
}
.full-width {
  width: 100%;
}
.chapter-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chapter-heading {
  width: 100%;
  text-align: center;
  display: block;
  font-family: "Poppins", serif;
  font-size: 22px;
  color: var(--text-color);
  font-weight: 600;
  font-style: normal;
}
.chapter-subtitle {
  width: 100%;
  text-align: center;
  display: block;
  font-family: "Poppins", serif;
  font-size: 18px;
  color: var(--text-color);
  font-weight: 500;
  font-style: normal;
}
.chapter-video-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px;
  /* padding: 0 5%; */
}
.video-plot {
  width: 100%;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
  font-size: 22px;
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  margin: 20px 0 0;
}
.chapter-feature-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 10px;
}
.feature-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.author-section {
  width: auto;
  display: flex;
}
.author-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  /* margin: 10px 0; */
}
.author-detail {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
.author-name {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: var(--text-white);
  font-weight: 500;
  font-style: normal;
}
.author-description {
  font-family: "Poppins", serif;
  font-size: 14px;
  color: var(--text-white);
  font-weight: 400;
  font-style: normal;
}
.rating-section {
  /* display: block; */
  font-family: "Poppins", serif;
  font-size: 18px;
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
}
.rating {
  direction: rtl;
  display: inline-flex;
}
.rating input {
  display: none;
}
.rating label {
  font-size: 30px;
  color: gray;
  cursor: pointer;
  transition: color 0.3s;
}
.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: var(--secondary-color);
}
.add-note {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.add-note.bookmark:hover svg {
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
}

.chapter-detail-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.paragraph-title,
.ul-title {
  width: 100%;
  font-family: "Poppins", serif;
  font-size: 24px;
  color: var(--text-color);
  font-weight: 700;
  font-style: normal;
  text-align: left;
  margin: 10px 0;
}
.paragraph {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
}
ul {
  width: 100%;
  font-family: "Poppins", serif;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  padding-left: 20px;
}
.menu-popup-overlay {
  display: none;
}
.menu-popup-overlay.open {
  display: block;
}
.chapter-top-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: var(--background-color);
  padding: 3px 0;
  box-shadow: 4px 4px 9px 0px #8089e1;
  z-index: 1;
}
.chapter-top-bar.zindex {
  z-index: -1;
}
.topic-topbar-title {
  text-align: center;
  color: var(--primary-color);
  font-size: 18px;
}
.topic-topbar-subtitle {
  font-size: 14px;
  color: var(--primary-color);
}
.topic-top-wrapper {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: var(--text-white);
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
}
.topics-clickable {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  font-family: "Poppins", serif;
  font-size: 14px;
  color: var(--text-white);
  font-weight: 500;
  font-style: normal;
  line-height: 27px;
  cursor: pointer;
}
.mobile-topics-header {
  display: none;
}
.video-js {
  width: 100%;
  height: 100%;
}

/*************************Subject layout********************************************/
.subject-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 0 10%; */
}

.subject-grid-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-pink);
  margin: 0px 0 15px;
  padding: 3% 10%;
}
.subject-title {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  position: relative;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.subject-title::after {
  content: "";
  width: 45px;
  height: 3px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: -3px;
  left: 0;
  border-radius: 13px;
}
.subject-grid-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 50px;
}
.subject-block {
  /* width: calc((100% - 60px) / 4); */
  width: 160px;
  margin: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-purple);
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  padding: 30px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* background-image: linear-gradient(
    135deg,
    rgb(198 165 238),
    rgb(233 188 247),
    rgb(236 127 187)
  ); */
}
.subject-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.subject-block:nth-child(4n) {
  margin-right: 0;
}
.subject-icon {
  width: 40px;
}
.subject-name {
  font-family: "poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
  padding: 16px 0 0;
}
.subject-updates {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 0 30px;
  padding: 25px 10%;
}
.updates-wrapper {
  width: 100%;
  display: flex;
}
.updates-pannel {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.updates-ul,
.updates-li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--text-white);
}
/* .updates-ul {
  border-bottom: 1px solid #ccc;
} */
.updates-li {
  padding: 10px;
}
.updates-li.active {
  background-color: var(--bg-pink);
}
.updates-links {
  font-family: "poppins", sans-serif;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}
.updates-li.active .updates-links {
}
.pannel-section {
  /* width: 100%;
  display: flex; */
  /* padding: 10px 40px 40px; */
  position: relative;
  height: auto; /* Fixed height for smooth transitions */
  /* overflow: hidden; */
}
.pannel-block {
  /* width: 100%;

  display: block;
  flex-direction: column;
  padding: 10px 40px 40px;
  opacity: 0; */
  opacity: 0;
  /* transform: translateY(20px); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.8s ease;
  visibility: hidden;
  padding: 15px;
}
.pannel-block.active {
  /* display: flex; */
  /* opacity: 1;
  background-color: var(--bg-pink); */
  opacity: 1;
  /* transform: translateY(0); */
  background-color: var(--bg-pink);
  visibility: visible;
  position: relative;
}
.pannel-title {
  width: 100%;
  display: flex;
  font-family: "poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}
.pannel-desc {
  width: 100%;
  display: flex;
  font-family: "poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
}
.activities-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: var(--bg-pink);
  padding: 55px 10%;
}
.recent-activities-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-color: var(--text-white);
  padding: 15px;
  border-radius: 15px;
  margin-right: 30px;
}
.upcoming-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: var(--text-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 15px;
  border-radius: 15px;
}
.upcoming-section-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.upcoming-section-row {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.upcoming-section-row:last-child {
  margin-bottom: 0;
  padding-bottom: 12px;
}
.upcoming-section-row:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.upcoming-icon-block {
  width: 40px;
  height: 35px;
  background-color: var(--light-pink);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}
.upcoming-icon {
  width: 17px;
}
.deadline-desc-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.deadline-title {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}
.deadline-desc {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
}
.deadline-desc span {
  border-left: 1px solid var(--text-color);
  margin-left: 5px;
  padding-left: 5px;
}
.activities-table {
  width: 100%;
  display: flex;
  border: 1px solid #ccc;
  flex-direction: column;
  border-radius: 6px;
}
thead {
  width: 100%;
  display: flex;
  background-color: var(--light-purple);
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
th {
  font-size: 16px;
  font-weight: 500;
}
tr {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
}
.activities-row {
  color: var(--text-color);
  padding: 10px 0;
}
.activities-row:nth-child(even) {
  background-color: var(--light-purple);
}
.table-container {
  width: 100%;
}
.swiper-horizontal .swiper-pagination {
  bottom: 3px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 35px;
  background-color: var(--text-white);
  padding: 8px;
  border-radius: 50%;
}
.swiper-button-prev img,
.swiper-button-next img {
  width: 100%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
  width: 35px;
  height: 26px;
  font-size: 12px;
  color: var(--primary-color);
  background-color: var(--text-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "poppins", sans-serif; */
}
.swiper-pagination-bullet-active {
  /* width: 10px;
  height: 10px; */
  background-color: var(--primary-color);
}
.web-link {
  display: flex;
}
.mob-link {
  display: none;
}
@media (max-width: 1112px) {
  /* .chapter-topics-layout {
    display: none;
    width: 65%;
    height: 100%;
    background-color: var(--background-color);
    position: fixed;
    left: 0;
    top: 0;
  } */
  .web-link {
    display: none;
  }
  .mob-link {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid #ccc;
  }
  .mob-link.active {
    background-color: var(--bg-pink);
  }
  .mobile-topics-header {
    display: flex;
    width: 100%;
    left: 0;
  }
  .topics-wrapper {
    margin-top: 35px;
  }
  .chapter-topics-layout {
    max-width: 100%;
    position: fixed;
    margin-top: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    left: -100%;
    background-color: var(--background-color);
    padding: 20px 0;
    z-index: 1;
  }
  .mobile-topic-close {
    position: absolute;
    right: 0;
    top: -8px;
    width: 47px;
  }
  /* .chapter-topics-layout.open {
    background-color: var(--background-color);
    max-width: 100%;
  } */
  .chapter-right-section {
    width: 100%;
    margin-top: 60px;
  }
  .topics-list {
    padding: 0 20px;
  }
  .menu-popup-overlay {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease-in-out;
    padding: 18px 0;
  }
  .collapse-topic-icon {
    width: 28px;
  }
  .topics-title {
    font-size: 22px;
    padding: 10px 0;
  }
  .subject-grid-section {
    padding: 3%;
  }
  .activities-section {
    flex-direction: column;
    padding: 3%;
  }
  .recent-activities-section,
  .upcoming-section {
    width: 100%;
    margin: 0 0 40px;
  }
  .table-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
  }
  .activities-table {
    min-width: 600px; /* Ensure table doesn't shrink */
    border-collapse: collapse; /* Optional: collapse borders */
  }
  .subject-updates {
    padding: 0 3%;
  }
  .pannel-section {
    flex-direction: column;
  }
  .updates-ul {
    display: none;
  }
  .activities-section {
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .chapter-feature-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .author-section .author-detail {
    border-bottom: 0px;
    width: auto;
    padding: 0;
    margin-left: 8px;
  }
  .author-section,
  .author-detail {
    width: 100%;
    justify-content: center;
    border-bottom: 0.5px solid #ccc;
    padding: 10px 0 10px 0;
    margin: 0;
  }
  .author-detail:last-child {
    border-bottom: 0;
  }
  .topics-title {
    display: none;
  }
  a.logo-link {
    width: 45px;
  }
  .header-layout .menu-popup-overlay,
  .chapter-top-bar {
    top: 54px;
  }
  .video-plot {
    height: 190px;
  }
  /* .subject-block {
    width: calc((100% - 20px) / 2);
  } */
  /* .subject-block:nth-child(2n + 2) {
    margin-right: 0;
  } */
  .activities-section {
    flex-direction: column;
    padding: 0 3%;
  }
  .recent-activities-section,
  .upcoming-section {
    width: 100%;
    margin: 0 0 30px;
  }
}
@keyframes shimmer {
  from {
    background-position: -200% 0;
  }
  to {
    background-position: 200% 0;
  }
}
